body { margin: 0; opacity: 0;}

#container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    font-family: "proxima-nova";
}

#brb {
    position: absolute;
    width: 1920px;
    height: 980px;
    top: 50px;
}

#lowerthird {
    position: absolute;
    bottom: 0;
}

#donation {
    position: absolute;
    top: 25px;
    left: 25px;
}

#scoreboard {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

#lowerthird {
    position: absolute;
    top: 805px;
    right: 88px;
}

#nowPlaying {
    position: absolute;
    top: 680px;
    left: 25px;
}
