.input-group
    span.input-group-addon Amount
    input.form-control(type="text" placeholder="Amount" field="amount")

.input-group(style="margin: 4px 0;")
    span.input-group-addon Donor
    input.form-control(type="text" placeholder="Donor" field="donor")

.btn-group.btn-group-justified
    .btn-group
        button.btn.btn-xs.btn-primary(type="button" command="test") Send Test Donation
