script(src="/dashboard/toth3-overlay/components/autosize/dist/autosize.min.js")

div(style="display: flex;")
    .column
        h4(style="margin-top: 0px;") Preview
        .js-preview
            .input-group
                span.input-group-addon Title
                input.js-title.form-control(type="text", placeholder="Title")
            .ncg-label body
            textarea.js-body.form-control(style="width: 100%; margin-bottom: 8px;")
        button.btn.btn-lg.btn-info(type="button" command="take") Take
    .column
        h4(style="margin-top: 0px;") Program
        .js-program
            .input-group
                span.input-group-addon Title
                input.js-title.form-control(type="text" placeholder="Title" disabled)
            .ncg-label body
            textarea.js-body.form-control(style="width: 100%; margin-bottom: 8px;" disabled)
        .ncg-btn-group
            .btn-group.btn-group-justified
                .btn-group
                    button.btn.btn-xs.btn-success(type="button" command="show") Show
                .btn-group
                    button.btn.btn-xs.btn-danger(type="button" command="hide") Hide
            .btn-group.btn-group-justified.no-padding
                .btn-group
                    button.btn.btn-xs.btn-primary(type="button" command="pulse" data-duration=7) 7s
                .btn-group
                    button.btn.btn-xs.btn-primary(type="button" command="pulse" data-duration=15) 15s
                .btn-group
                    button.btn.btn-xs.btn-primary(type="button" command="pulse" data-duration=30) 30s
