script(src="/dashboard/toth3-overlay/components/numeral/min/numeral.min.js")

.totalDisplay ?

.ncg-btn-group
    .btn-group.btn-group-justified
        .btn-group.js-update.returnsResult
            button.btn.btn-xs.btn-warning(type='button' title='Donation total updates automatically on a timer, this forces an immediate update')
                | Force Update
            span.btn.btn-xs.btn-danger.updateResult.updateResult-error Error
            span.btn.btn-xs.btn-default.updateResult.updateResult-default Default
            span.btn.btn-xs.btn-success.updateResult.updateResult-success Success
        .btn-group
            button.btn.btn-xs.btn-primary(type='button' data-toggle="modal" data-target="#toth3-overlay_editTotal") Edit...
hr
.ncg-label(style="margin-top: 0;") Automatic updates
.ncg-btn-group
    .btn-group.btn-group-justified
        .btn-group
            button.js-automaticOn.btn.btn-xs.btn-success(type='button') On
        .btn-group
            button.js-automaticOff.btn.btn-xs.btn-danger(type='button') Off

#toth3-overlay_editTotal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true") &#215;
                    span.sr-only Close
                h4.modal-title Edit fundraising total
            .modal-body
                .input-group
                    span.input-group-addon Total $
                    input.form-control(type="number" name="total")
            .modal-footer
                button.js-save.btn.btn-primary.btn-sm(type="button", data-dismiss="modal")
                    i.fa.fa-floppy-o
                    | &nbsp;&nbsp;Save & Close
                button.btn.btn-default.btn-sm(type="button", data-dismiss="modal") Cancel