div(style="display: flex;")
    .column
        h4(style="margin-top: 0px;") Preview
        .js-preview
            .input-group
                span.input-group-addon URL
                input.js-url.form-control(type="text", placeholder="URL")
        button.btn.btn-lg.btn-info(type="button" command="take" style="margin-top: 8px;") Take
    .column
        h4(style="margin-top: 0px;") Program
        .js-program
            .input-group
                span.input-group-addon ID
                input.js-id.form-control(type="text" placeholder="ID" disabled)
            .ncg-label Content
            textarea.js-content.form-control(style="width: 100%; margin-bottom: 8px; height: 80px;" disabled)
        .ncg-btn-group
            .btn-group.btn-group-justified
                .btn-group
                    button.btn.btn-xs.btn-success(type="button" command="show") Show
                .btn-group
                    button.btn.btn-xs.btn-danger(type="button" command="hide") Hide
            .btn-group.btn-group-justified.no-padding
                .btn-group
                    button.btn.btn-xs.btn-primary(type="button" command="pulse" data-duration=7) 7s
                .btn-group
                    button.btn.btn-xs.btn-primary(type="button" command="pulse" data-duration=15) 15s
                .btn-group
                    button.btn.btn-xs.btn-primary(type="button" command="pulse" data-duration=30) 30s
